.move-nav{
    transform: translate(57vw,0vh);
}

.move-nav a{
    color: whitesmoke;
}

.navbar-color{
    background-color:rgb(139, 121, 238);
}

.members-color{
    color: whitesmoke;
}

input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: .4vw !important;
    border-radius: 7px;
    background-color:thistle;
}

.button-styles{
    width: 40%;
    border-radius: 6px;
    background-color: palegreen;
    border: 1px solid black;
    padding: 10px;
}
